<app-item-details-layout
  [backRoute]="backRoute"
  [previousItemRoute]="previousOrderRoute$ | async"
  [nextItemRoute]="nextOrderRoute$ | async"
>
  <app-redirect-warning
    *ngIf="!dataSaved && warningOpen"
    (cancel)="cancelRedirect()"
    (confirm)="confirmRedirect()"
  ></app-redirect-warning>

  <app-order-form
    *ngIf="order$ | async"
    [order]="order$ | async"
    [sculptures]="sculptures"
    [materials]="materials"
    [materialsInfo]="materialsInfo"
    (cancel)="cancel()"
    (submit)="createOrder($event)"
    (dirty)="setFormDirty($event)"
  ></app-order-form>
</app-item-details-layout>
