@import "../../../../styles.scss";

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  nav {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: $max-width;
    padding: 0 1.5rem;
    flex-wrap: wrap;
  }
}
