<app-item-details-layout
  [backRoute]="backRoute"
  [previousItemRoute]="previousSculptureRoute$ | async"
  [nextItemRoute]="nextSculptureRoute$ | async"
>
  <app-redirect-warning
    *ngIf="!dataSaved && warningOpen"
    title="Are you sure?"
    message="If you leave now all unsaved data will be lost."
    (cancel)="cancelRedirect()"
    (confirm)="confirmRedirect()"
  ></app-redirect-warning>

  <app-sculpture-form
    *ngIf="sculpture$ | async"
    [sculpture]="sculpture$ | async"
    (cancel)="cancel()"
    (safeSubmit)="updateSculpture($event)"
    (dirty)="setFormDirty($event)"
  ></app-sculpture-form>
</app-item-details-layout>
