<app-item-details-layout
  [backRoute]="backRoute"
  [previousItemRoute]="previousSculptureRoute$ | async"
  [nextItemRoute]="nextSculptureRoute$ | async"
>
  <app-redirect-warning
    *ngIf="!dataSaved && warningOpen"
    (cancel)="cancelRedirect()"
    (confirm)="confirmRedirect()"
  ></app-redirect-warning>

  <app-sculpture-form
    *ngIf="sculpture$ | async"
    [sculpture]="sculpture$ | async"
    (cancel)="cancel()"
    (submit)="updateSculpture($event)"
    (dirty)="setFormDirty($event)"
  ></app-sculpture-form>
</app-item-details-layout>
