<form class="form" [formGroup]="formData" (submit)="submitHandler()">
  <h2>Create an order</h2>

  <mat-form-field>
    <mat-label>Buyer name</mat-label>
    <input matInput type="text" formControlName="buyerName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Buyer delivery address</mat-label>
    <input
      matInput
      type="text"
      name="buyer-delivery-address"
      formControlName="buyerDeliveryAddress"
    />
  </mat-form-field>

  <div class="configured-sculpture-container">
    <app-configured-sculpture
      [materials]="materials"
      [sculptures]="sculptures"
      formControlName="configuredSculpture"
    ></app-configured-sculpture>
    <button mat-icon-button type="button" (click)="addConfiguredSculpture()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-order-summary
    [configuredSculptures]="configuredSculptures"
    [totalPrice]="totalPrice"
    [totalWeight]="totalWeight"
    (remove)="removeConfiguredSculpture($event)"
  ></app-order-summary>

  <app-form-actions (cancel)="cancelHandler()"></app-form-actions>
</form>
