<form class="form" [formGroup]="formData" (submit)="submitHandler()">
  <mat-form-field>
    <mat-label>Buyer name</mat-label>
    <input matInput type="text" formControlName="buyerName" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Buyer delivery address</mat-label>
    <input
      matInput
      type="text"
      name="buyer-delivery-address"
      formControlName="buyerDeliveryAddress"
    />
  </mat-form-field>

  <div class="configured-sculpture-container">
    <app-configured-sculpture
      [materials]="materials"
      [sculptures]="sculptures"
      formControlName="configuredSculpture"
    ></app-configured-sculpture>
    <button mat-flat-button type="button" (click)="addConfiguredSculpture()">
      Add Sculpture
    </button>
  </div>

  <div class="configured-sculpture" *ngFor="let item of configuredSculptures, let index = index">
    <span>{{ item.sculpture.name }}</span>
    <span>{{ item.material }}</span>
    <span>{{
      item.sculpture.baseWeight * materialsInfo[item.material].weightMultiplier
    }}</span>
    <span>{{
      item.sculpture.basePrice * materialsInfo[item.material].priceMultiplier
    }}</span>
    <button (click)="removeConfiguredSculpture(index)">delete</button>
  </div>

  <button mat-flat-button type="submit">Complete order</button>
</form>
