<div class="order">
  <section>
    <h2>Order details</h2>

    <div>
      <p>Buyer name: {{ order.buyerName }}</p>
      <p>Buyer delivery address: {{ order.buyerDeliveryAddress }}</p>
      <p>Order total price {{ totalPrice }}€</p>
      <p>Order total weight {{ totalWeight }}kg</p>
    </div>
  </section>
  
  
  <section>
    <p><strong>Configured sculptures</strong></p>
    <div class="configured-sculptures">
      <app-card *ngFor="let item of order.configuredSculptures">
        <div class=>
          <p>Sculpture: {{ item.sculpture.name }}</p>
          <p>Material: {{ item.material }}</p>
          <p>
            Price:
            {{
              item.sculpture.basePrice *
                materialsInfo[item.material].priceMultiplier
            }}€
          </p>
          <p>
            Price:
            {{
              item.sculpture.baseWeight *
                materialsInfo[item.material].weightMultiplier
            }}kg
          </p>
        </div>
      </app-card>
    </div>
  </section>
</div>
