<fieldset class="fieldset configured-sculpture">
  <mat-form-field appearance="outline">
    <mat-label>Sculpture</mat-label>
    <mat-select
      [(value)]="sculpture"
      (valueChange)="changeHandler()"
    >
      @for (sculpture of sculptures; track sculpture) {
      <mat-option [value]="sculpture">{{ sculpture.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Material</mat-label>
    <mat-select
      [(value)]="material"
      (valueChange)="changeHandler()"
    >
      @for (material of materials; track material) {
      <mat-option [value]="material">{{ material }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</fieldset>
