$primary-color: #2e2f32;
$secondary-color: #ffffff;
$tertiary-color: #8fc6fc;
$accent-color: #1469c0;
$error-color: #ba1a1a;
$max-width: 620px;
$border-radius-small: 3px;
$padding-small: 0.5rem;

html,
body,
app-root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  border-radius: 5px;
}

.layout {
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  position: relative;

  .navigation {
    background-color: $primary-color;

    a {
      color: $secondary-color;
      text-decoration: none;
      font-size: 1.1rem;
    }

    a.active {
      color: $tertiary-color;
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
      color: $accent-color;
    }
  }
}

.page-content {
  background-color: $secondary-color;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: auto;
  padding: 1.5rem;
  overflow-y: auto;
  box-sizing: border-box;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
  scrollbar-color: $tertiary-color transparent;
  scrollbar-width: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
