$primary-color: #2e2f32;
$secondary-color: #ffffff;
$accent-color: #1469c0;
$error-color: #ff5b50;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $primary-color;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  max-width: 40rem;
  margin: auto;
  border-radius: 5px;
}
