html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 40rem;
  border: 1px solid currentColor;
  margin: auto;
  border-radius: 5px;
}

.fieldset {
  all: unset;
  display: flex;
  gap: 1rem;
}