@import "../../../styles.scss";

.backdrop {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  p,
  h3 {
    margin: 0;
  }
}

.popup {
  padding: $padding-big;
  border-radius: $border-radius-small;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border: 1px solid $tertiary-color;
  max-width: 20rem;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
