.prev-next {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
}

.back {
  justify-self: flex-end;
}

.prev {
  grid-column-start: 1;
}

.next {
  grid-column-start: 2;
  margin-left: 1rem;
}
